@using Unifaat.ProvaDjalma.ViewModel;
@model ListViewModel

<<<<<<< HEAD
<div class="text-center">
    <h1 class="display-4">Bem-vindo ao Sistema de Login Cliente/Vendedor</h1>
    <p>Saiba mais em minha página no <a href="https://github.com/Paulojesus85"> GitHub</a>.</p>
=======
<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered border-dark">
            <thead>
                <tr>
                    <th>Lista de vendedores</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.NomesVendedores.Count; i++)
                {
                    <tr>
                        <td>@Model.NomesVendedores[i]</td>
                    </tr>
                }
            </tbody>
        </table>
        <a href="@Url.Action("Create", "Vendedores")" class="btn btn-primary">Cadastrar vendedor</a>
    </div>
    <div class="col-md-6">
        <table class="table table-bordered border-dark">
            <thead>
                <tr>
                    <th>Lista de clientes</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.NomesClientes.Count; i++)
                {
                    <tr>
                        <td>@Model.NomesClientes[i]</td>
                    </tr>
                }
            </tbody>
        </table>
        <a href="@Url.Action("Create", "Clientes")" class="btn btn-primary">Cadastrar cliente</a>
    </div>
>>>>>>> b611004ac2e11f0264da89e900df878bd9232bc9
</div>

<br />
<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered border-dark">
            <thead>
                <tr>
                    <th>Lista de produtos</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.NomesProdutos.Count; i++)
                {
                    <tr>
                        <td>@Model.NomesProdutos[i]</td>
                    </tr>
                }
            </tbody>
        </table>
        <a href="@Url.Action("Create", "Produtos")" class="btn btn-primary">Cadastrar produto</a>
    </div>
    <div class="col-md-6">
        <table class="table table-bordered border-dark">
            <thead>
                <tr>
                    <th>Lista de marcas</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.NomesMarcas.Count; i++)
                {
                    <tr>
                        <td>@Model.NomesMarcas[i]</td>
                    </tr>
                }
            </tbody>
        </table>
        <a href="@Url.Action("Create", "Marcas")" class="btn btn-primary">Cadastrar marca</a>
    </div>
</div>





